<h1 class="mt-3 mb-3">
  chère
  <strong>Suisse</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Que représente Chère Suisse?
  </h2>
  <p>
    Chère Suisse est une initiative, qui invite les personnes ayant un lien avec la Suisse à écrire un lettre sur l'avenir du pays.
  </p>
  <p>
    L'objectif de "Chère Suisse" est de donner à toute la population suisse une voix, un lieu et une plate-forme pour partager des réflexions, des enseignements et des expériences sur la crise du Covid-19.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Qui sommes-nous?
  </h2>
  <p>
    Nous sommes une organisation non gouvernementale à but non lucratif d'individus passionnés par le partage de ce que nous avons appris et par la pérennisation de ces apprentissages.
  </p>
  <p>
    Chère Suisse est une initiative née dans cadre du #versusvirus Hackathon. L'objectif de "Dear Switzerland" est de donner à tous les Suisses et résidents Suisse une voix, un lieu et une plate-forme pour partager les enseignements, les expériences et les idées issues des mesures prises pour le COVID.
  </p>
  <p>
    Nous avons été fortement inspirés par un mouvement similaire en Ecosse et nous aimerions que cela se produise également en Suisse.
  </p>
  <%=render 'team'%>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Quel est notre objectif?
  </h2>
  <p>
    Nous aimerions collecter 1'000 lettres où tous les cantons sont représentés.
    Cette collection rassemblera des réflections, des expériences individuelles ainsi que des leçons et des perspectives nées durant cette crise. Nous espérons pouvoir recueillir des leçons-clés de toutes les soumissions et de vous les présenter sous un format judicieux (un livre notamment) pour aider à changer l'avenir pour le meilleur.
  </p>
  <%=image_tag "book.png", alt: 'Livre Chère CH' %>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    N'hésitez pas à nous contacter!
  </h2>
  <p>
    <%= mail_to "info@dearswitzerland.org"%>
  </p>
  <p>
    ℅ reverse ag<br>
    Ämtlerstrasse 16<br>
    8003 Zürich<br>
    Suisse
  </p>
</section>
