<h1 class="mt-3 mb-3">
  cara
  <strong>Svizzera</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Cos’è “Cara Svizzera”?
  </h2>
  <p>
    Cara Svizzera è un'iniziativa, che invita tutte le persone che hanno un legamo con la Svizzera, a scrivere una lettera sul futuro del paese.
  </p>
  <p>
    L'obiettivo di "Cara Svizzera" è di dare a tutte le persone della popolazione Svizzera una voce, un luogo e una piattaforma per condividere le loro riflessioni, degli insegnamenti e delle esperienze sulla crisi del Covid-19.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Chi siamo?
  </h2>
  <p>
    Siamo un gruppo non governativo e non profit di individui appassionati dal condividere. Chère Suisse è un'iniziativa nata dal #versusvirus Hackathon.
  </p>
  <p>
    L'obiettivo di  "Dear Switzerland" è di dare a tutti gli Svizzeri e i residenti in Svizzera una voce, un luogo e una piattaforma per condividere i loro insegnamenti, le loro esperienze e idee nate dalle misure prese per il COVID
  </p>
  Siamo stati molto influenzati da un movimento similare nato in Scozia e saremo molto felici di riprodurlo in Svizzera.
  <p>
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Qual è il nostro obiettivo?
  </h2>
  <p>
    Ci piacerebbe raccogliere 1’000 lettere provenienti da tutti i cantoni. Questa collezione raccoglierà delle riflessioni, delle esperienze personali, degli insegnamenti e dei punti di vista che sono nati durante questo periodi di crisi. Speriamo poter ricavare da ognuna delle vostre lettere degli insegnamenti-chiave e di presentarli in un formato adeguato ( anche un libro) per andare verso un futuro migliore.
  </p>
  <%=image_tag "book.png" %>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Non esitate a contattarci!
  </h2>
  <p>
    <%= mail_to "info@dearswitzerland.org"%>
  </p>
  <p>
    Viadukt 93 – 95<br>
    8005 Zürich<br>
    Svizzera
  </p>
</section>
