<h1 class="mt-3 mb-3">
  cara
  <strong>Svizra</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Da tgei setracta ei?
  </h2>
  <p>
    Cara Svizra ei ina initiative da scriver brevs che envida persunas cun ina connecziun cun
    la Svizra da scriver agl avegnir dalla tiara.
  </p>
  <p>
    La finamira da “Cara Svizra” ei da dar alla populaziun entira dalla Svizra ina vusch ed ina
    plattaforma per parter ses patratgs ed experientschas dalla crisa da Covid-19.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Tgi essan nus?
  </h2>
  <p>
    Nus essan ina gruppa communizeivla e nunstatala da dels ch’ein passiunai da rimnar e francar
    quei ch'ei han empriu e da duvrar quei per purtar ina midada positiva.
  </p>
  <p>
    “Cara Svizra” ei ina iniziativa naschida dil Hackathon #versusvirus. Nossa finamira era dad
    anflar ina sligiaziun per la sfida da rimnar e transformar quei ch’ei vegn empriu dalla crisa da Covid-19.
  </p>
  <p>
    Nus eran inspirai dad in paregl moviment en Scozia ed ei fa a nus in grond plascher da
    purtar – cun bia optimissem e speronza – quei concept en Svizra.
  </p>
  <%= render 'team' %>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Tgei ei nossa finamira?
  </h2>
  <p>
    Nus selegrassen da rimnar 1000 brevs che representassen mintga cantun. Quella collecziun documentescha
    las experientschas ed ils patratgs individuals e las lecziuns e perspectivas tratgas ord la crisa.
    Nus sperein lu da rimnar las lecziuns-clav ord dallas contribuziuns e da resumar ellas d’ina maniera
    significonta cun la finamira da midar positivamein igl avegnir – en in cudisch, sperein nus.
  </p>
  <%=image_tag "book.png", alt: 'Buch Chara CH' %>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Nus selegrein sche ti semettas en contact cun nus!
  </h2>
  <p>
    <%= mail_to "info@dearswitzerland.org"%>
  </p>
  <p>
    ℅ reverse ag<br>
    Ämtlerstrasse 16<br>
    8003 Zürich<br>
    Switzerland
  </p>
</section>
