<h1 class="mt-3 mb-3">
  dear
  <strong>Switzerland</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    What is this about?
  </h2>
  <p>
    Dear Switzerland is a letter-writing initiative, inviting people with a Swiss connection to write to the country’s
    future.
  </p>
  <p>
    The aim of “Dear Switzerland” is to give the entire Swiss population a voice, a venue and a platform to share
    reflections, learnings and experiences about the Covid-19 crisis.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Who are we?
  </h2>
  <p>
    We are a non-profit, non-governmental constellation of individuals passionate about collecting what has been learned
    and using the learnings to effect positive change.
  </p>
  <p>
    “Dear Switzerland” is an initiative born out of the #versusvirus Hackathon. Our goal was to find a solution for the
    challenge of how we can gather and transform learnings from the Covid-19 crisis.
  </p>
  <p>
    We were strongly inspired by a similar initiative in Scotland and are excited to bring this concept to Switzerland,
    with deep optimism and great hope.
  </p>
  <%=render 'team'%>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    What do we aim for?
  </h2>
  <p>
    We would love to collect 1’000 letters — with every canton represented.
    This collection will record individual experiences and reflections, as well as critical lessons learned and perspectives gained during the crisis. We hope to then capture key learnings from the submissions and summarize them in some meaningful way in support of changing the future for good: hopefully in a book.
  </p>
  <%=image_tag "book.png", alt: 'Book Dear CH' %>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Don’t hesitate to reach out to us!
  </h2>
  <p>
  <%= mail_to "info@dearswitzerland.org"%>
  </p>
  <p>
    ℅ reverse ag<br>
    Ämtlerstrasse 16<br>
    8003 Zürich<br>
    Switzerland
  </p>
</section>
