<h1 class="mt-3 mb-3">
  Liäbi
  <strong>Schwiiz</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Worum geht es?
  </h2>
  <p>
    Liäbi Schwiiz ist, eine initiative, welche es Menschen mit einem Bezug zur Schwiiz möglich macht, einen Brief an die Zukunft der Schwiiz zu schreiben.
  </p>
  <p>
    Das Ziel der initiative ist dem Volk eine Stimme zu geben. Es soll eine Plattform sein, auf welcher Menschen ihre Gedanken und ihre neuen Erfahrungen aus der Covid-19 Krise austauschen können.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Wer sind wir?
  </h2>
  <p>
    Wir sind eine gemeinnützige, nichtstaatliche Gruppe von Einzelpersonen, die sich leidenschaftlich dafür einsetzen, das, was wir gelernt haben, zu teilen und diese Erkenntnisse zu verankern.
  </p>
  <p>
    Liäbi Schwiiz ist eine Initiative, die aus dem #versusvirus Hackathon entstanden ist. Das Ziel von "Dear Switzerland" ist es, allen Schweizern eine Stimme, einen Ort und eine Plattform zu geben, damit sie ihre Erfahrungen und Erkenntnisse aus COVID und COVID-Massnahmen austauschen können.
  </p>
    Wir wurden stark von einer ähnlichen Bewegung in Schottland inspiriert und würden uns freuen, wenn dies auch in der Schwiiz geschieht.
  <p>
  </p>
  <%=render 'team'%>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Was ist unser Ziel?
  </h2>
  <p>
    Wir möchten 1’000 Briefe erhalten - und dass jeder Kanton repräsentiert ist. Die Brief Kollektion soll individuelle Erfahrungen und Überlegungen aufzeichnen und festhalten, was wir alle in dieser Zeit gelernt und an neuen Perspektiven gewonnen haben. Wir hoffen so, die wichtigsten Lehren durch die erhaltenen Briefe sammeln und zusammenfassen zu können, dass wir sie in Zukunft einsetzen können: in einem Buch.
  </p>
  <%=image_tag "book.png", alt: 'Buch Liäbi CH'%>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Zögere nicht, uns zu kontaktieren!
  </h2>
  <p>
    <%= mail_to "info@dearswitzerland.org"%>
  </p>
  <p>
    ℅ reverse ag<br>
    Ämtlerstrasse 16<br>
    8003 Zürich<br>
    Schweiz
  </p>
</section>
