<h1 class="mt-3 mb-3">
  <strong>FAQs</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Cosa posso scrivere?
  </h2>
  <p>
    Potete scrivere quello che volete. Le lettere possono essere serie, divertenti, lunghe o corte…
    scegliete voi! Se decidete di scrivere la vostra lettera a alla mano ci potete anche aggiungere
    delle illustrazioni. Per adesso accettiamo le lettere scritte in: tedesco, francese, italiano,
    in lingua romancia o in inglese. Ci piacerebbe ricevere lettere scritte con rispetto e adeguate,
    quindi leggeremo tutte le vostre lettere prima di procedere alla pubblicazione. Le lettere con un
    contenuto giudicato inadeguato non saranno accettate e pubblicate.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Come posso contribuire e sostenere l’iniziativa?
  </h2>
  <p>
    La vostra collaborazione è molto importante. Per primo, potete incominciare a scrivere un lettera e
    inviarla a i vostri amici. Aiutateci a condividere la nostra iniziativa invitando le vostre conoscenze a
    contribuire alla causa seguendoci sui i social. Potete anche condividere l’iniziativa “Cara Svizzera” con
    i vostri collaboratori, scuole o associazioni rispettive. Di più, potete anche prendere il tempo di leggere
    le lettere e riflettere sulle esperienze vissute degli altri, o come loro vedrebbero la Svizzera fra qualche anno.
  </p>
  <p>
    Se siete interessati a sostenere “Cara Svizzera” più formalmente, come collaboratore o come sponsor,
    contattateci all’indirizzo <%= mail_to "info@dearswitzerland.org" %>.
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Cosa succede dopo l’invio della mia lettera?
  </h2>
  <p>
    Siamo molto contenti di ricevere la vostra lettera. Se avete accettato di pubblicarla nel catalogo in linea,
    la vostra lettera sarà analizzata e aggiunta alla collezione nei giorni seguenti. Se cambiate idea e volete
    rimuovere la vostra lettera dal catalogo, potete scriverci al’ indirizzo mail <%= mail_to "info@dearswitzerland.org" %>
    e ci occuperemo del necessario.
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Qual è la data limite per inviare una lettera?
  </h2>
  <p>
    Raccoglieremo le lettere fino alla fine di novembre 2020, ma incoraggiamo tutti a partecipare il prima
    possibile! E <%= link_to 'adesso', root_path %>?
  </p>
</section>
