<h1 class="mt-3 mb-3">
  <strong>FAQs</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    What can I write?
  </h2>
  <p>
    In short, you can write anything. Letters can be serious, humorous, literal, figurative, long, short... up to you.
    If you submit a hand-written letter you are welcome to include illustrations. We are currently accepting letters in
    5 languages: German, French, Italian, Romansch and English. We do want to keep this initiative positive and
    family-friendly so we will review submissions before uploading to ensure there is no illicit or overtly offensive
    content.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    How can I get involved and support this initiative?
  </h2>
  <p>
    Your involvement is so important to this initiative. First, write and submit your letter, then consider sharing your
    submission on social media. Help us get others involved by encouraging your friends and family to submit their
    letters, and by promoting and following the initiative on your favorite social media channels. You
    might also consider sharing the initiative with associations, schools, or other groups to which you belong. Then be
    sure to read submitted letters and reflect on what others have experienced and what their hopes for Switzerland’s
    future are.
  </p>
  <p>
    If you are interested in more formally supporting or getting involved as a collaborator, partner, or sponsor, please
    write to <%= mail_to "info@dearswitzerland.org" %>.
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    What happens after I submit my letter?
  </h2>
  <p>
    We will be very honored to receive your letter. If you have agreed to have it published in the online letter
    catalog, we will review your letter and upload it within a couple of days. If you change your mind about having your
    letter published in the catalog, please email us at <%= mail_to "info@dearswitzerland.org" %> and we work to ensure it
    is removed.
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    What is the deadline?
  </h2>
  <p>
    Our formal campaign for letters ended at the end of 2020. However, as the crisis continues, we continue to welcome submissions.
  </p>
</section>
