<h1 class="mt-3 mb-3">
  <strong>FAQs</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Was kann ich schreiben?
  </h2>
  <p>
    Um es kurz zu halten: du kannst alles schreiben, was du möchtest. Dein Brief kann ernst, lustig, abstrakt, lang oder kurz sein - genau so, wie du es möchtest. Wenn du einen handgeschriebenen Brief schickst, kannst du beispielsweise auch eine Zeichnung hinzufügen. Wir akzeptieren Briefe in fünf Sprachen: Deutsch, Französisch, Italienisch, Rätoromanisch und Englisch. Wir möchten, dass die Initiative respektvoll, positiv und familienfreundlich bleibt, weshalb wir alle erhaltenen Briefe sichten, bevor wir sie hochladen.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Wie kann ich die Initiative unterstützen?
  </h2>
  <p>
    Mitmachen ist das wichtigste für unsere Initiative. Schreib einen Brief und sende ihn ein. Wenn du möchtest, kannst du deinen Brief auch in deinen Social Media Kanälen mit deinen Freunden teilen. Hilf uns, andere zu motivieren mitzumachen, in dem du Freunde und Familie von der Initiative erzählst und uns auf Social Media folgst. Du kannst die Initiative auch gern mit Schulen, deinem Verein oder anderen Kreisen teilen, in denen du verkehrst. Wir freuen uns auch, wenn du die bereits eingereichten Briefe auf unserer Seite liest und dich mit dem auseinandersetzt, was andere zur Zeit erleben und schon erlebt haben und was sie sich für die Schweiz wünschen.


  </p>
  <p>
    Wenn du dich mehr einsetzen möchtest, als Unterstützer oder Teammitglied, Partner oder Sponsor, kannst du gerne eine Nachricht an <%= mail_to "info@dearswitzerland.org" %> schreiben.
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Was passiert, nachdem ich den Brief eingereicht habe?
  </h2>
  <p>
    Wir freuen uns sehr, wenn wir von dir einen Brief erhalten. Wenn du dich damit einverstanden erklärst, dass wir deinen Brief im Online Katalog veröffentlichen dürfen, werden wir deinen Brief sichten und ihn innerhalb weniger Tage auf die Website unter “Briefe” anzeigen. Solltest du deine Meinung ändern und möchtest deinen Brief aus dem Online Katalog entfernt haben, kannst du uns diese gerne per Mail an <%= mail_to "info@dearswitzerland.org" %>  mitteilen und wir löschen ihn.   </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Gibt es eine Eingabefrist?
  </h2>
  <p>
    Es gibt keine Frist, innerhalb welcher du deinen Brief schreiben musst. Aber wir ermutigen dich den Brief so lange zu schreiben und zu schicken, als dass die Erinnerung an deine Erfahrung und dein Erlebnis noch frisch sind.
  </p>
</section>
