<h1 class="mt-3 mb-3">
  <strong>FAQs</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Tgei sai jeu scriver?
  </h2>
  <p>
    Cuort: ti sas scriver tut quei che ti vul. Tia brev astga esser seiusa, legra, abstracta, liunga ni cuorta – exact aschia, sco ti vul. Sche ti tarmettas ina brev scretta a maun, sas ti per exempel metter vitier in dessegn. Nus acceptein brevs en tschun lungatgs: romontsch, tudestg, franzos, talian ed engles. Nus lessen che l'iniziativa resti pleina respect, positiva e favuraivla per famiglias, pervia da quei relegin nus tut las brevs che nus survegnin avon che cargar si ellas.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Co sai jeu sustener l'iniziativa?
  </h2>
  <p>
    Separticipar ei il pli impurtont per nossa iniziativa. Redegia ina brev e lai ir ella. Sche li vul, sas parter ella cun tes amitgs era sin tias medias socialas. Gida nus da motivar ils auters da far cun: raquenta a tes amitgs ed a tia famiglia da quell'iniziativa e che ti suondas nus sin las medias socialas. Ti astgas bugen parter l'iniziativa cun scolas, di'uniun ni auters cerchels che ti frequentas. Nus selegreis era sche ti legias las brevs gia publicadas sin nossa pagina e seconfruntas cun quei ch'ils auters ein vida viver ni han gia viviu e cun quei ch'els giavischan per la Svizra.
  </p>
  <p>
    Sche ti lesses s'engaschar dapli sco sustenider ni commember, partner ni sponsor, sas ti bugen tarmetter in messadi sin <%= mail_to "info@dearswitzerland.org" %>.
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Tgei schabegia suenter ch'jeu hai tarmess la brev?
  </h2>
  <p>
    Nus selegrein fetg sin tia brev. Sche ti eis d'accord che nus astgein publicar ella en nies catalog online, vegnin nus a releger ella e metter ella sin nossa pagina internet sut „Brevs“. Sche ti midas il meini e lesses che nus metteien tia brev naven dil catalog online, astgas ti bugen communicar quei a nus ad <%= mail_to "info@dearswitzerland.org" %> e nus supprimin ella. </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Dat ei in termin da submissiun?
  </h2>
  <p>
    Ei dat negin termin avon il qual che ti stos scriver tia brev. Mo nus encuraschein tei da scriver e tarmetter la brev aschiprest che pusseivel, cura che ti seregordas bein da ti'experientscha.
  </p>
</section>
