<h1 class="mt-3 mb-3">
  <strong>FAQs</strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Qu’est ce je pourrais écrire?
  </h2>
  <p>
    Vous pouvez écrire sur tout. Les lettres peuvent être aussi bien sérieuse que drôle, figurative, longue, courte… à vous de voir ! Si vous rédigez votre lettre à la main, vous pouvez également accompagner votre lettre d’illustrations. On accepte les lettres en 5 langues pour le moment : allemand, français, italien, romanche ou anglais. On aimerait garder ces submissions respectueuses et conviviales, nous passerons donc en revue toutes lettres que nous allons recevoir avant de les publier. Les lettres dont le contenu est jugé illicite ou offensant ne seront pas acceptées.
  </p>
</section>


<section class="pt-2 pb-2">
  <h2 class="pb-1">
    Comment pourrais-je contribuer et soutenir l’initiative?
  </h2>
  <p>
    Votre contribution nous importe beaucoup. En premier lieu, vous pouvez écrire une lettre et nous l’envoyer sans oublier de la partager à vos proches. Aidez nous à promouvoir notre initiative en encourageant votre entourage à contribuer à la cause, en nous suivant et en nous soutenant sur votre réseau social préféré. Vous pouvez également considérer partager l’initiative “Chère Suisse” avec vos associations, écoles ou communautés respectives. De plus, vous pouvez prendre le temps de lire les lettres publiées et de méditer sur les expériences des autres personnes et comment ils envisagent la Suisse future.
  </p>
  <p>
    Si vous êtes intéressé pour soutenir “Chère Suisse” plus formellement en tant que collaborateur, partenaire ou sponsor, veuillez nous contacter à <%= mail_to "info@dearswitzerland.org" %>.
  </p>
</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Que se passe-t-il après la soumission de ma lettre?
  </h2>
  <p>
    Nous sommes honorés de pouvoir recevoir votre lettre. Si vous avez accepté d’avoir votre lettre publiée dans le catalogue en ligne, nous allons examiner votre lettre et l’ajouter à la collection dans les jours qui suivent. Si vous changez votre avis et que vous souhaitez retirer votre lettre du catalogue, veuillez nous le parvenir par email à notre adresse <%= mail_to "info@dearswitzerland.org" %>, et nous allons faire le nécessaire.
  </p>

</section>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    Quel est l’échéance pour soumettre la lettre?
  </h2>
  <p>
    Il n’y pas d’échéance ou de date limite décidé pour le moment, mais nous vous encourageons à soumettre vos lettres le plus rapidement possible tant que l’expérience de la crise du COVID est encore fraîche.
  </p>
</section>
