<h1 class="mt-3 mb-3">
  nos
  <strong>Partenaires et Supporters</strong>
</h1>

<section class="pt-1 pb-2">
  <p>
    En tant que groupe informel de bénévoles, nous sommes extrêmement reconnaissants du précieux soutien de tant de personnes et d'organisations, notamment:
  </p>
</section>

<%= render partial: 'partners' %>
