<h1 class="mt-3 mb-3">
  nostro
  <strong>Partner e Sostenitori</strong>
</h1>

<section class="pt-1 pb-2">
  <p>
    Come gruppo informale di volontari, siamo estremamente grati per il prezioso sostegno di così tante persone e organizzazioni, tra cui:
  </p>
</section>

<%= render partial: 'partners' %>
