<h1 class="mt-3 mb-3">
  our
  <strong>Partners and Supporters </strong>
</h1>

<section class="pt-1 pb-2">
  <p>
    As an informal group of volunteers, we are extremely grateful for the valuable support of so many people and organizations, including:
  </p>
</section>

<%= render partial: 'partners' %>
