<h1 class="mt-3 mb-3">
  unsere
  <strong>Partner und Unterst체tzer</strong>
</h1>

<section class="pt-1 pb-2">
  <p>
    Als eine informelle Gruppe von Freiwilligen sind wir 채usserst dankbar f체r die wertvolle Unterst체tzung so vieler Menschen und Organisationen, darunter:
  </p>
</section>

<%= render partial: 'partners' %>
