<h1 class="mt-3 mb-3">
  Dear Switzerland
  <strong>Privacy Policy</strong>
</h1>

<section class="pt-1 pb-2">
<p>
Privacy and data protection are of great importance to us, as is providing you with a positive experience on this website. This privacy policy describes the collection and use of personal data in connection with the use of this website.
</p>
<p>
This privacy statement applies solely to our website www.dearswitzerland.org. We do not assume any responsibility or liability for links from our website to third party websites. Clicking on an external link is your sole responsibility.
As defined by Article 13 of the Swiss Federal Constitution, the Federal Government data protection regulations, as well as GDPR, every person is entitled to privacy protection and protection from misuse of their personal data. We comply with these terms. Personal data will be kept strictly confidential and will not be sold or passed on to third parties.
</p>
</section>u
<section class="pt-1 pb-2">
<h2>Collection of Personal Data</h2>
<p>
We may require you to provide information for a better experience while using this website or for execution of requested services or activities.
</p>
<p>
We collect information about you when you:
</p>
<ul>
  <li>sign up or use a service provided by us;</li>
  <li>sign up for our newsletter or any other communications;</li>
  <li>visit our website; and</li>
  <li>communicate with us</li>
</ul>
<p>
We also collect personal information such as usage statistics through cookies, server logs and similar technologies provided by trusted third-party sources. As data transmission over the Internet (for example, when communicating by e-mail) can have security gaps, complete protection of data against access by third parties is not possible.
</p>
<p>
You can visit our website without giving any personal information. We do not store any personal data in this context. In order to improve our offer, we only evaluate statistical data that do not allow us to draw conclusions about your person.
</p>
</section>
<section class="pt-1 pb-2">
<h2>
Purpose of Use
</h2>
<p>
We only process your personal data as necessary to provide a functioning website or to provide you with our content and services. The processing of personal data is done in accordance with the appropriate legal basis and as permitted by law.
</p>
<p>
The processing of your personal data on the website takes place exclusively in connection with an action you have initiated or a request made from us, in order to correct or improve our website and, where appropriate, for internal statistical purposes. Your data will not be passed on to third parties via the website without your express permission.
</p>
<p>
Our legitimate interest in accordance with the relevant statutes, for the collection of data is based on the following purposes:
Ensuring a smooth connection setup and comfortable use of the website,
Evaluation of system security and stability as well
for further administrative purposes.
</p>
</section>
<section class="pt-1 pb-2">
<h2>
Consent
</h2>
<p>
Please note that by visiting and using our website, you consent to the processing of your personal data within the scope of this declaration and the applicable data protection laws.
</p>
</section>
<section class="pt-1 pb-2">
<h2>
Cookies
</h2>
<p>
Our website uses cookies in several places. Cookies are small text files stored on your computer and saved by your browser. They serve to make our website more user-friendly, efficient and secure. Cookies also enable our systems to recognise your browser and to offer you services. Cookies do not contain any personal data. However, it is possible that a cookie can be associated with a specific user registration.
</p>
<p>
Most browsers automatically accept cookies. However, you can configure your browser to help you manage cookies including: to notify you about the setting of cookies, to allow cookies only in individual cases, to exclude the use of cookies, or to automatically delete cookies when closing the browser. However, deactivation of cookies can lead to the fact that you cannot use all functions of our website.
</p>
<p>
You can visit our website without giving any personal information. We do not store any personal data in this context.
</p>
</section>
<section class="pt-1 pb-2">
<h2>Contact</h2>
<p>
You have the right to receive information at any time about your stored personal data, its origin and recipients and the purpose of data processing, as well as the right to correct, block or delete this data.
</p>
<p>
We are committed to promptly assisting with any questions or concerns in connection with the handling of personal information. We can be contacted at <%= link_to "info@dearswitzerland.org", "mailto:info@dearswitzerland.org" %> .
</p>
</section>