<h1 class="mt-3 mb-3">
  Dear Switzerland
  <strong>Datenschutzerklärung</strong>
</h1>
<section class="pt-1 pb-2">
<p>Der Verein Dear Switzerland betreibt die Website <a href="http://www.dearswitzerland.org/">www.dearswitzerland.org</a> (die "<strong>Website</strong>") und ist verantwortlich für die Erhebung, Verarbeitung und Nutzung ihrer persönlichen Daten unter Einhaltung der geltenden Datenschutzgesetze.</p>
<p>Privatsphäre und Datenschutz sind für uns von grosser Bedeutung, ebenso wie die positive Erfahrung, die Sie auf dieser Website machen. Wir beachten die gesetzlichen Bestimmungen des Bundesgesetzes über den Datenschutz ("<strong>DSG</strong>"), der Verordnung zum Bundesgesetz über den Datenschutz ("<strong>VDSG</strong>"), des Fernmeldegesetzes ("<strong>FMG</strong>") sowie weitere anwendbare Datenschutzbestimmungen des schweizerischen und internationalen Rechts, insbesondere wo anwendbares EU-Recht anwendbar ist. Jede Person hat Anspruch auf Schutz der Privatsphäre und Schutz vor Missbrauch ihrer persönlichen Daten, deshalb werden persönliche Daten streng vertraulich behandelt und nicht verkauft.</p>
<p>Diese Datenschutzrichtlinie (die "<strong>Datenschutzrichtlinie</strong>") beschreibt die Erhebung und Nutzung von personenbezogenen Daten im Zusammenhang mit der Nutzung dieser Website.</p>
<p>Wenn Sie Fragen zum Datenschutz haben, können Sie sich unter <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a> mit uns in Verbindung setzen.</p>
<p>Wir übernehmen keine Verantwortung oder Haftung für Links von unserer Website zu Websites Dritter. Das Anklicken eines externen Links erfolgt auf Ihr eigenes Risiko.</p>
</section>


<section class="pt-1 pb-2">
  <h2>Datenverarbeitung im Zusammenhang mit unserer Website</h2>
  <ol>
    <li><strong>Welche Daten erfassen wir, wenn Sie unsere Website besuchen?</strong></li>
  </ol>
  <p>Wenn Sie unsere Website besuchen, speichern unsere Server temporär jeden Zugriff in einer Protokolldatei. Die folgenden technischen Daten werden ohne Ihr Zutun erhoben und wie bei jeder Verbindung zu einem Webserver von uns gespeichert:</p>
  <ul>
    <li>die IP-Adresse des anfragenden Rechners;</li>
    <li>das Betriebssytem Ihres Rechners;</li>
    <li>der von Ihnen verwendete Browser (Typ, Version und Sprache);</li>
    <li>Name des IP-Adressbereichs;</li>
    <li>das Datum und die Uhrzeit der Serveranfrage;</li>
    <li>die Webseite, von der aus der Zugriff erfolgt ist (Referrer-URL), eventuell mit den verwendeten Suchbegriffen; und</li>
    <li>den Statuscode (z.B. Fehlermeldung, Debug-Informationen).</li>
  </ul>
  <p>Die Erhebung und Verarbeitung dieser Daten erfolgt zum Zweck, die Nutzung unserer Website zu erm&ouml;glichen (Verbindungsaufbau), die Systemsicherheit und -stabilit&auml;t langfristig zu gew&auml;hrleisten und unseren Internetauftritt zu optimieren sowie f&uuml;r interne statistische Zwecke. Es liegt in unserem berechtigten Interesse, diese Daten zu verarbeiten, um Ihnen eine gut funktionierende Website anbieten zu k&ouml;nnen.</p>
  <p>Die IP-Adresse wird zusammen mit den &uuml;brigen Daten auch bei Angriffen auf die Netzinfrastruktur oder bei sonstiger unbefugter oder missbr&auml;uchlicher Nutzung der Website zur Identifizierung von Straft&auml;tern im Zusammenhang mit zivil- oder strafrechtlichen Verfahren verwendet. Die Verarbeitung dieser Daten liegt in unserem berechtigten Interesse, Ihren Besuch auf unserer Website zu verfolgen sowie unsere Website entsprechend zu verbessern und zu sichern.</p>

  <ol start="2">
    <li><strong>Welche persönlichen Daten erfassen wir, wenn Sie Ihren Brief einreichen?</strong></li>
  </ol>
  <p>Sie k&ouml;nnen einen Brief an uns zur Ver&ouml;ffentlichung auf unserer Website einreichen. Dazu ben&ouml;tigen wir die folgenden Informationen:</p>
  <ul>
    <li>Ihre E-Mail-Adresse;</li>
    <li>die Spracheinstellung; und</li>
    <li>den Inhalt Ihres Briefes.</li>
  </ul>
  <p>Diese Daten sowie weitere von Ihnen freiwillig gemachte Angaben (z.B. Name, Alter und Wohnkanton) werden von uns nur f&uuml;r die Ver&ouml;ffentlichung Ihres Briefes auf unserer Website verarbeitet. Mit dem Absenden Ihres Briefes erkl&auml;ren Sie sich mit der Ver&ouml;ffentlichung auf unserer Website und der damit verbundenen Verarbeitung Ihrer Daten einverstanden. Wenn Sie Ihre Meinung &uuml;ber die Ver&ouml;ffentlichung Ihres Briefes &auml;ndern, senden Sie uns bitte eine E-Mail an <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a> und wir werden Ihren Brief von der Website entfernen.</p>

  <ol start="3">
    <li><strong>Welche Daten erfassen wir, wenn Sie sich für den Erhalt unserer E-Mail-Updates anmelden?</strong></li>
  </ol>
  <p>Sie können unsere E-Mail-Aktualisierungen abonnieren, um über unsere Initiative informiert zu werden. Dazu benötigen wir die folgenden Informationen:</p>
  <ul>
    <li>Ihre E-Mail-Adresse.</li>
  </ul>
  <p>Wir verwenden diese Daten nur dann für die Zustellung unserer E-Mail-Updates, wenn Sie zugestimmt haben, diese zu erhalten. Sie können unsere E-Mail-Aktualisierungen jederzeit abbestellen, indem Sie uns eine Nachricht an <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a> senden, damit wir Sie aus unserer Mailingliste löschen können. Wir werden Ihnen unsere E-Mail-Updates auf der Grundlage Ihrer Zustimmung per E-Mail zusenden.</p>

  <ol start="4">
    <li><strong>Was sind Cookies? Benötigen wir Cookies?</strong></li>
  </ol>
  <p>Cookies helfen in vielerlei Hinsicht, Ihren Besuch auf unserer Website einfacher, angenehmer und sinnvoller zu gestalten. Cookies sind Informationsdateien, die Ihr Webbrowser automatisch auf der Festplatte Ihres Computers speichert, wenn Sie unsere Website besuchen. Insbesondere verwenden wir die folgenden Cookies:</p>
  <ul>
    <li>technisch notwendige Cookies;</li>
    <li>Leistungs-Cookies; und</li>
    <li>funktionale Cookies.</li>
  </ul>
  <p>Diese Cookies verwenden wir zum Beispiel, um Ihren Brief vor&uuml;bergehend auf der Website zu speichern, damit Sie die Eingabe beim Aufruf einer anderen Unterseite nicht wiederholen m&uuml;ssen.</p>
  <p>Die meisten Internet-Browser akzeptieren Cookies automatisch. Sie k&ouml;nnen Ihren Browser jedoch so konfigurieren, dass keine Cookies auf Ihrem Computer gespeichert werden oder immer eine Meldung erscheint, wenn Sie ein neues Cookie erhalten. Die Deaktivierung von Cookies kann jedoch dazu f&uuml;hren, dass Sie nicht alle Funktionen unserer Website nutzen k&ouml;nnen.</p>

  <ol start="5">
    <li><strong>Benutzen wir tracking tools?</strong></li>
  </ol>
  <ul>
    <li><strong>Was sind tracking tools?</strong></li>
  </ul>
  <p>Wir nutzen den Webanalysedienst von Google Analytics, um unsere Website nach Ihren Bed&uuml;rfnissen zu gestalten und laufend zu optimieren. In diesem Zusammenhang verwenden wir auch Cookies. Die durch die Cookies erzeugten Informationen &uuml;ber Ihre Nutzung unserer Website werden an die Server des Anbieters dieser Dienste &uuml;bertragen, dort gespeichert und f&uuml;r uns verarbeitet. Zus&auml;tzlich zu den in Abschnitt 1 aufgef&uuml;hrten Daten k&ouml;nnen wir die folgenden Informationen erhalten:</p>
  <ul>
    <li>Navigationspfad eines Besuchers der Website;</li>
    <li>die auf der Website oder einer Unterseite verbrachte Zeit;</li>
    <li>die Unterseite, auf der die Website verlassen wird;</li>
    <li>das Land, die Region oder die Stadt, von der aus der Zugriff erfolgt;</li>
    <li>das Ger&auml;t (Typ, Version, Farbtiefe, Aufl&ouml;sung, Breite und H&ouml;he des Browser-Fensters); und</li>
    <li>wenn Sie ein wiederkehrender oder neuer Besucher sind.</li>
  </ul>
  <p>Die Informationen werden verwendet, um die Nutzung der Website zu evaluieren, Berichte &uuml;ber die Website-Aktivit&auml;t zusammenzustellen und andere Dienstleistungen im Zusammenhang mit der Nutzung der Website und des Internets f&uuml;r Zwecke der Marktforschung und der bedarfsgerechten Gestaltung dieser Website zu erbringen. Dar&uuml;ber hinaus k&ouml;nnen diese Informationen an Dritte weitergegeben werden, wenn dies gesetzlich vorgeschrieben ist oder wenn Dritte diese Daten in unserem Auftrag verarbeiten.</p>
  <ul>
    <li><strong>Was ist Google Analytics?</strong></li>
  </ul>
  <p>Der Anbieter von Google Analytics ist die Google Inc., ein Unternehmen der Holdinggesellschaft Alphabet Inc. mit Sitz in den USA. Bevor die auf dieser Website erhobenen Daten innerhalb der EU/des EWR oder in der Schweiz an den Provider übermittelt werden, wird die IP-Adresse durch Aktivierung der IP-Anonymisierung ("anonymizeIP") gekürzt. Die anonyme IP-Adresse wird von Ihrem Browser übermittelt. Google Analytics wird nicht mit anderen Google-Daten zusammengeführt. Nur in Ausnahmefällen wird die vollständige IP-Adresse an einen Google-Server in den USA übertragen und dort gekürzt. In diesen Fällen wird vertraglich zugesichert, dass Google Inc. ein angemessenes Datenschutzniveau gewährleistet. Laut Google Inc. wird die IP-Adresse unter keinen Umständen mit anderen Sie betreffenden Daten in Verbindung gebracht.</p>
  <p>Weitere Informationen über den verwendeten Webanalysedienst finden Sie auf der Website von Google Analytics. Eine Anleitung, wie Sie die Verarbeitung Ihrer Daten durch den Webanalysedienst verhindern können, finden Sie unter https://tools.google.com/dlpage/gaoptout?hl=de. </p>

  <h2><strong>Storage and exchange of data with third parties</strong></h2>

  <ol start="6">
    <li><strong>Wie lange werden meine Daten aufbewahrt</strong></li>
  </ol>
  <p>Wir speichern personenbezogene Daten nur so lange, wie es für die oben beschriebenen Nutzungen und die weitere Verarbeitung im Rahmen unseres berechtigten Interesses erforderlich ist. Vertragsdaten werden von uns längerfristig gespeichert, da dies durch gesetzliche Verpflichtungen vorgeschrieben ist. Verpflichtungen zur Datenspeicherung können sich aus buchführungs rechtlichen, zivilrechtlichen und steuerrechtlichen Gründen ergeben. Nach diesen Gesetzen müssen Geschäftskommunikation, abgeschlossene Verträge und Abrechnungsbelege bis zu 10 Jahre aufbewahrt werden.</p>

  <ol start="7">
    <li><strong>  Werden meine Daten an andere Dritte weitergegeben?</strong></li>
  </ol>
  <p>Wir geben Ihre personenbezogenen Daten nur dann an sonstige Dritte weiter, wenn Sie ausdrücklich eingewilligt haben, wenn hierzu eine gesetzliche Verpflichtung besteht oder wenn dies zur Durchsetzung unserer Rechte, insbesondere zur Durchsetzung von Ansprüchen aus dem Vertragsverhältnis, erforderlich ist. Darüber hinaus geben wir Ihre Daten an Dritte weiter, soweit dies für die Nutzung der Website und die Durchführung von Verträgen (auch ausserhalb der Website) erforderlich ist.</p>

  <ol start="8">
    <li><strong>Links und Plug-Ins für soziale Medien</strong></li>
  </ol>
  <p>Wir haben auf unserer Website eingebettete Links. Wenn Sie auf solche Links von unserer Website aus zugreifen, kann es sein, dass Daten an den Eigentümer der Website oder der Anwendung, auf die Sie zugreifen, weitergegeben werden.</p>
  <p>Darüber hinaus verwenden wir auch soziale Plugins, wie Facebook, Instagram und LinkedIn. Wir haben keinen Einfluss darauf, welche Daten diese Plattformen verarbeiten. Wir empfehlen Ihnen daher, vor dem Zugriff auf diese Social-Media-Plattformen deren jeweilige Datenschutzrichtlinien zu prüfen.</p>

  <ol start="9">
    <li><strong>Übermitteln wir personenbezogene Daten ins Ausland?</strong></li>
  </ol>
  <p>Wir sind berechtigt, Ihre personenbezogenen Daten zum Zweck der in dieser Datenschutzerklärung beschriebenen Datenverarbeitung an Dritte (beauftragte Dienstleister) im Ausland zu übermitteln. Diese Dritten sind in gleichem Masse zum Datenschutz verpflichtet wie wir. Falls das Datenschutzniveau in einem Land nicht demjenigen der Schweiz oder der EU entspricht, werden wir vertraglich sicherstellen, dass der Schutz Ihrer persönlichen Daten jederzeit demjenigen der Schweiz entspricht.</p>

  <ol start="10">
    <li><strong>Sind Ihre Daten bei uns sicher?</strong></li>
  </ol>
  <p>Wir setzen geeignete technische und organisatorische Sicherheitsmassnahmen ein, um Ihre bei uns gespeicherten personenbezogenen Daten gegen Manipulation, teilweisen oder vollständigen Verlust und gegen unberechtigten Zugriff durch Dritte zu schützen.</p>
  <p>Sie sollten Ihre Zugangsinformationen stets vertraulich behandeln und das Browserfenster schliessen, wenn Sie die Kommunikation mit uns beendet haben, insbesondere wenn Sie den Computer, Tablet oder Smartphone gemeinsam mit anderen nutzen.</p>

  <ol start="11">
    <li><strong>Wird der gleiche Schutz auch bei der Übermittlung von Daten in die USA gewährt?</strong></li>
  </ol>
  <p>Der Vollständigkeit halber möchten wir darauf hinweisen, dass es in den USA Überwachungsmassnahmen durch US-Behörden gibt, die es ihnen generell erlauben, Zugang zu allen Personendaten zu erhalten, die von der Schweiz in die USA übermittelt wurden. Dies geschieht ohne Differenzierung, Einschränkung oder Ausnahme aufgrund des verfolgten Zwecks und ohne jedes objektive Kriterium, das es erlauben würde, den Zugang zu den Daten und deren anschliessende Verwendung durch die US-Behörden auf ganz bestimmte, streng begrenzte Zwecke zu beschränken, die den Eingriff rechtfertigen könnten, der sowohl mit dem Zugang zu diesen Daten als auch mit deren Verwendung verbunden ist. Darüber hinaus möchten wir darauf hinweisen, dass in den USA für die betroffenen Personen aus der Schweiz keine Rechtsmittel zur Verfügung stehen, die es ihnen erlauben würden, Zugang zu den sie betreffenden Daten zu erhalten und deren Berichtigung oder Löschung zu erwirken, oder dass es keinen wirksamen Rechtsschutz gegen allgemeine Zugriffsrechte der US-Behörden gibt. Wir weisen Sie ausdrücklich auf diese Rechts- und Sachlage hin, um eine informierte Entscheidung über die Einwilligung in die Verwendung Ihrer Daten zu ermöglichen.</p>
  <p>Wir möchten Sie darauf hinweisen, dass die USA aus Sicht der EU und der Schweiz unter anderem aufgrund der in diesem Abschnitt erwähnten Punkte kein angemessenes Datenschutzniveau haben. Soweit wir in diesen Datenschutzbestimmungen erläutert haben, dass die Empfänger der Daten (wie z.B. Google) ihren Sitz in den USA haben, werden wir dafür sorgen, dass Ihre Daten von unseren Dienstleistern auf einem angemessenen Niveau geschützt werden, entweder durch vertragliche Vereinbarungen mit diesen Unternehmen oder indem wir sicherstellen, dass diese Unternehmen nach dem EU oder Swiss-US Privacy Shield zertifiziert sind.</p>

  <h2><strong>Müssen Sie sonst noch etwas wissen?</strong></h2>

  <ol start="12">
    <li><strong>Sie haben ein Recht auf Zugang, Berichtigung, Löschung und Einschränkung der Verarbeitung sowie auf Übertragbarkeit der Daten</strong></li>
  </ol>
  <p>Sie haben das Recht, Auskunft &uuml;ber die personenbezogenen Daten zu verlangen, die wir &uuml;ber Sie speichern. Dar&uuml;ber hinaus haben Sie das Recht, unrichtige Daten zu berichtigen und die L&ouml;schung Ihrer personenbezogenen Daten zu verlangen, soweit keine gesetzliche Aufbewahrungspflicht und keine Rechtsgrundlage f&uuml;r die Weiterverarbeitung der vorhandenen Daten besteht.</p>
  <p>Sie haben auch das Recht, die Daten, die Sie uns zur Verf&uuml;gung gestellt haben, anzufordern (Recht auf Datenportabilit&auml;t). Auf Wunsch werden wir Ihre Daten an einen Dritten Ihrer Wahl &uuml;bermitteln. Sie haben das Recht, die Daten in einem g&auml;ngigen Dateiformat zu erhalten.</p>
  <p>Sie k&ouml;nnen uns zu den oben genannten Zwecken &uuml;ber die E-Mail-Adresse <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a> kontaktieren. Um Ihre Anfragen bearbeiten zu k&ouml;nnen, k&ouml;nnen wir einen Nachweis Ihrer Identit&auml;t verlangen.</p>
  <p>In vielen L&auml;ndern haben Sie auch das Recht, eine Beschwerde bei der zust&auml;ndigen Datenschutzbeh&ouml;rde einzureichen, wenn Sie Bedenken haben, wie wir Ihre Daten verarbeiten.</p>
  <p>Diese Rechte h&auml;ngen von den geltenden Datenschutzgesetzen ab und k&ouml;nnen entweder eingeschr&auml;nkter oder umfassender sein.</p>

  <ol start="13">
    <li><strong>Welches Recht wenden wir an? Und wo gilt das Gesetz?</strong></li>
  </ol>
  <p>Diese Datenschutzerklärung unterliegt schweizerischem Recht.</p>
  <p>Der Gerichtsstand ist in Zürich.</p>

  <ol start="14">
    <li><strong>Kann diese Datenschutzrichtlinie geändert werden?</strong></li>
  </ol>
  <p>Sollten einzelne Teile dieser Datenschutzerklärung ungültig sein, so berührt dies die Gültigkeit der übrigen Datenschutzerklärung nicht. Der ungültige Teil dieser Datenschutzerklärung ist so zu ersetzen, dass er dem wirtschaftlich gewollten Zweck des ungültigen Teils möglichst nahe kommt.</p>
  <p>Aufgrund der Weiterentwicklung unserer Website oder Änderungen der gesetzlichen Anforderungen kann es notwendig werden, diese Datenschutzerklärung zu ändern. Die jeweils aktuelle Datenschutzerklärung ist auf unserer Website veröffentlicht. Diese Seite wurde zuletzt am 15. Juni 2020 geändert.</p>

  <ol start="15">
    <li><strong>Fragen zum Datenschutz? Bitte, kontaktieren Sie uns!</strong></li>
  </ol>
  <p>Wenn Sie Fragen oder Anmerkungen zu unseren rechtlichen Hinweisen oder zum Datenschutz haben, kontaktieren Sie uns bitte unter <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a>.</p>
</section>

