<h1 class="mt-3 mb-3">
  Dear Switzerland
  <strong>Bedingungen</strong>
</h1>

<section class="pt-1 pb-2">
  <p>Diese Nutzungsbedingungen (die "<strong>Bedingungen</strong>"), gelten zusammen mit unserer Datenschutzrichtlinie (die "<strong>Datenschutzrichtlinie</strong>", für jede Nutzung unserer Website <a href="http://www.dearswitzerland.org/">www.dearswitzerland.org</a> und den Aktivitäten des Vereins Dear Switzerland (<strong>Dear Switzerland</strong>") sowie für alle Daten, Informationen, Tools und Dienstleistungen, die auf unserer Website (zusammen die "<strong>Website</strong>") verfügbar sind.</p>
  <p>Die Teilnahme und Zufriedenheit sowie die unkomplizierte Nutzung der Website, sind für die Betreiber sehr wichtig.</p>
  <p><strong>Das Nutzen der Website steht unter der Bedingung, dass Sie die Nutzungsbedingungen und die Datenschutzrichtlinie verstehen und akzeptieren. Jede weitere Nutzung der Website oder eines Teils davon bedeutet, dass die Bedingungen und die Datenschutzrichtlinie gelesen und verstanden wurden und die Nutzer mit den Bedingungen einverstanden sind und ihnen zustimmen.</strong></p>
  <p>Wir behalten uns das Recht vor, diese Bedingungen nach eigenem Ermessen jederzeit zu ändern. Wir empfehlen, die Bedingungen in regelmässigen Abständen auf Änderungen zu überprüfen. Die Nutzung der Website setzt voraus, dass sobald Änderungen an den Bedingungen auf der Website vorgenommen wurden, diese akzeptiert werden, unabhängig davon, ob sie überprüft wurden oder nicht.</p>

  <ol>
    <li>
      <h2><strong> Anwendung dieser Bedingungen </strong></h2>
    </li>
  </ol>
  <p>Diese Bedingungen gelten für Ihre Nutzung der Website, die von Dear Switzerland betrieben wird, sowie für alle Funktionen und Dienstleistungen, die auf dieser Website angeboten werden, einschliesslich, aber nicht beschränkt auf die Funktionen zum Verfassen von Briefen, zum Teilen von Briefen und zur Überprüfung von Briefen. Weitere Bestimmungen ausserhalb dieser Bedingungen können auf Sie zutreffen. Solche weiteren Bestimmungen gelten zusätzlich zu diesen Bedingungen.</p>

  <ol start="2">
    <li>
      <h2><strong>Benutzerverhalten</strong></h2>
    </li>
  </ol>
  <p>Benutzer dürfen die Website nicht missbräuchlich nutzen und ist es untersagt, sämtliche Inhalte über die Website zu verarbeiten, welche:</p>
  <ul>
    <li>bedrohlich, verleumderisch, obszön, unanständig, aufrührerisch, beleidigend, pornografisch, missbräuchlich, geeignet ist, zum Rassenhass aufzustacheln, diskriminierend, bedrohlich, skandalös, aufrührerisch, blasphemisch, vertrauensbrüchig, die Privatsphäre verletzend sind oder Ärger oder Unannehmlichkeiten verursachen können; oder</li>
    <li>für die Sie nicht alle erforderlichen Lizenzen und/oder Genehmigungen erhalten haben; oder</li>
    <li>die ein Verhalten darstellen oder zu einem Verhalten ermutigen, das in irgendeinem Land der Welt als Straftat gilt, zu zivilrechtlicher Haftung führen oder anderweitig gegen das Gesetz eines Dritten verstossen oder die Rechte eines Dritten verletzen; oder</li>
    <li>die technisch schädlich sind (einschliesslich, aber nicht beschränkt auf Computerviren, Logikbomben, Trojaner, Würmer, schädliche Komponenten, beschädigte Daten oder andere Malware oder schädliche Daten).</li>
  </ul>

  <ol start="3">
    <li>
      <h2><strong>Verhaltensrichtlinien bezüglich der Entsendungen</strong></h2>
    </li>
  </ol>
  <p>Insbesondere sind die Benutzer für alle Inhalte verantwortlich, die auf dieser Website veröffentlicht, per E-Mail verschickt oder anderweitig an diese Website übermittelt werden, wie z.B. die eingereichten oder hochgeladenen Briefen (zusammenfassend als "<strong>Postings</strong>" bezeichnet).</p>
  <p>Wir fördern Verhaltensrichtlinien (die "<strong>Verhaltensrichtlinien</strong>") ffür Veröffentlichungen auf unserer Website. Sollte einem Nutzer ein Posting auffallen, welches beleidigend oder anstössig ist oder nicht den Verhaltensrichtlinien entspricht, benachrichtigen Sie uns bitte unter <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a>.</p>
  <p>Wenn Sie Beiträge hochladen oder einreichen, erklären Sie sich damit einverstanden, unsere unten aufgeführten Verhaltensrichtlinien zu befolgen.</p>
  <p>Die Verhaltensrichtlinien verpflichten die Benutzer dazu:</p>
  <ul>
    <li>dass sie 15 Jahre alt oder &auml;lter sind oder alternativ die Erlaubnis der Eltern einholen und die Postings per E-Mail mit einem Vermerk &uuml;ber die Erlaubnis einreichen;</li>
    <li>uns ein geb&uuml;hrenfreies, unbefristetes, unwiderrufliches, nicht-exklusives Recht und eine Lizenz zu gew&auml;hren, einschliesslich des Rechts zur Vergabe von Unterlizenzen, zur Nutzung, Reproduktion, Modifikation, Anpassung, Ver&ouml;ffentlichung, &Uuml;bersetzung, Erstellung abgeleiteter Werke, zum Vertrieb, zur &ouml;ffentlichen Kommunikation, zur Auff&uuml;hrung und Ausstellung aller von Ihnen zur Verf&uuml;gung gestellten Postings weltweit und/oder zur Einbindung der Postings in andere Werke in jeglicher Form, und zwar f&uuml;r die gesamte Laufzeit aller Urheberrechte, Marken und anderer Rechte an geistigem und gewerblichem Eigentum, die an solchen Postings bestehen, und zwar f&uuml;r jeden beliebigen Zweck, ob kommerziell, werbend oder anderweitig, ohne dass Sie Anspruch auf eine Verg&uuml;tung haben;</li>
    <li>es ist zu unterlassen, Inhalte einzureichen, die rechtswidrig, sch&auml;dlich, bedrohlich, beleidigend, bel&auml;stigend, qu&auml;lend, verleumderisch, vulg&auml;r, obsz&ouml;n, verleumderisch, die Privatsph&auml;re anderer verletzend, hasserf&uuml;llt oder rassistisch, ethnisch oder anderweitig anst&ouml;&szlig;ig sind (nach unserem alleinigen Ermessen);</li>
    <li>Es ist zu unterlassen, Inhalte einzureichen, die sich als eine nat&uuml;rliche oder juristische Person ausgeben, einschliesslich, aber nicht beschr&auml;nkt auf einen Benutzer dieser Website, einen Mitarbeiter oder Vertreter von Dear Switzerland oder einer anderen nat&uuml;rlichen oder juristischen Person, oder Ihre Verbindung zu Dear Switzerland oder einer anderen nat&uuml;rlichen oder juristischen Person falsch angeben oder anderweitig falsch darstellen;</li>
    <li>es ist zu unterlassen, Inhalte einzureichen, die nicht Ihre eigenen sind oder die Sie nach geltendem Recht oder anderweitig nicht berechtigt sind, hochzuladen, zu posten, per E-Mail zu versenden oder anderweitig zu &uuml;bermitteln (wie z.B. Insiderinformationen, gesch&uuml;tzte und vertrauliche Informationen, die Sie im Rahmen von Arbeitsverh&auml;ltnissen oder Geheimhaltungsvereinbarungen erfahren oder offengelegt haben);</li>
    <li>keine Inhalte einzureichen, die gegen geltendes nationales, kantonales oder internationales Recht verstossen;</li>
    <li>es ist zu unterlassen, Inhalte einzureichen, die einen anderen Benutzer dieser Website stalken oder anderweitig bel&auml;stigen;</li>
    <li>es ist zu unterlassen, pers&ouml;nliche Daten anzufragen, zu sammeln oder zu ver&ouml;ffentlichen oder zu versuchen, pers&ouml;nliche Daten &uuml;ber andere Nutzer der Website oder &uuml;ber andere Dritte anzufragen, zu sammeln oder zu ver&ouml;ffentlichen; oder</li>
    <li>es ist zu unterlassen, auf die Eingaben eines anderen Website-Nutzers zuzugreifen oder zu versuchen, diese ohne dessen Zustimmung zu &auml;ndern.</li>
  </ul>

  <ol start="4">
    <li>
      <h2><strong>Haftung</strong></h2>
    </li>
  </ol>
  <p>Der Inhalt dieser Website wurde mit Sorgfalt und Gewissenhaftigkeit erstellt, aber Dear Switzerland kann keine Garantie f&uuml;r Vollst&auml;ndigkeit und/oder Genauigkeit geben. Die Website bietet Informationen &uuml;ber die Brief- und Kommetnarfunktionen und ihre Dienstleistungen, die jederzeit ohne vorherige Ank&uuml;ndigung ge&auml;ndert werden k&ouml;nnen.</p>
  <p>Alle Darstellungen und Gew&auml;hrleistungen sind ausgeschlossen, einschliesslich der Gew&auml;hrleistung hinsichtlich der Eignung f&uuml;r einen bestimmten Zweck.</p>
  <p><strong>Weder Dear Switzerland noch ihre Vertreter, Auftragnehmer oder Lizenzgeber haften f&uuml;r Verluste, Verletzungen oder Sch&auml;den</strong> (einschliesslich, aber nicht beschr&auml;nkt auf direkte, indirekte, Straf- oder Folgesch&auml;den, Verluste von Einkommen, Gewinn, Firmenwert, Daten, Vertr&auml;gen, Geldverwendung oder Verluste oder Sch&auml;den, die sich aus einer Betriebsunterbrechung ergeben oder in irgendeiner Weise damit verbunden sind); unabh&auml;ngig davon, ob vorhersehbar, bekannt oder anderweitig und selbst dann, wenn auf die M&ouml;glichkeit solcher Sch&auml;den hingewiesen wurde; und unabh&auml;ngig davon, ob es sich um eine unerlaubte Handlung (einschliesslich und ohne Einschr&auml;nkung Fahrl&auml;ssigkeit), einen Vertrag oder anderweitig handelt; einschliesslich und ohne Einschr&auml;nkung f&uuml;r Eventualit&auml;ten au&szlig;erhalb seiner Kontrolle bei der Beschaffung, Zusammenstellung, Interpretation, Berichterstattung oder Lieferung von Daten und f&uuml;r Schlussfolgerungen, Entscheidungen oder Handlungen, die auf der Grundlage der Nutzung der Website oder eines Teils davon abgeleitet, getroffen oder ergriffen wurden.</p>
  <p>Nichts hierin schliesst die Haftung von Dear Switzerland aus oder beschr&auml;nkt sie, (i) f&uuml;r Betrug oder grobe Fahrl&auml;ssigkeit, (ii) f&uuml;r Tod oder K&ouml;rperverletzung, die von Dear Switzerland verursacht wurden, (iii) oder die nach dem anwendbaren Recht nicht ausgeschlossen oder beschr&auml;nkt werden darf.</p>
  <p><strong>Sie erkl&auml;ren sich damit einverstanden, Dear Switzerland und ihre Vertreter, Auftragnehmer und Lizenzgeber sowie die jeweiligen Direktoren, leitenden Angestellten, Mitarbeiter, Vertreter und unabh&auml;ngigen Auftragnehmer zu verteidigen, zu entsch&auml;digen und schadlos zu halten von und gegen alle Sch&auml;den, Anspr&uuml;che und Ausgaben, einschliesslich angemessener Anwaltskosten, die aus oder in Verbindung mit Ihrem Missbrauch der Website entstehen, d.h. einer Nutzung der Website, die gegen diese Bedingungen oder geltende Gesetze oder Vorschriften verst&ouml;sst.</strong></p>

  <ol start="5">
    <li>
      <h2><strong><strong>Geistige Eigentumsrechte, vertrauliche Informationen und Geschäftsgeheimnisse</strong></strong></h2>
    </li>
  </ol>
  <p>Sie erkennen an und akzeptieren, dass die Website und alle Teile davon, insbesondere die hochgeladenen Briefe, durch Urheberrechte oder andere Gesetze zum Schutz des geistigen Eigentums oder zum Schutz vor unlauterem Wettbewerb oder Veruntreuung gesch&uuml;tzt sein k&ouml;nnen und das Eigentum von Dear Switzerland und/oder ihrer Lizenzgeber sind und bleiben. Solche Inhalte d&uuml;rfen nur in &Uuml;bereinstimmung mit diesen Bedingungen oder einer anderen Vereinbarung zwischen Ihnen und Dear Switzerland und allen anwendbaren Gesetzen und Vorschriften verwendet werden. Jede unbefugte Nutzung ist strengstens untersagt.</p>
  <p>Alle Handelsnamen, Handelsmarken, Dienstleistungsmarken und andere Produkt- und Dienstleistungsnamen und Logos, ob registriert oder nicht registriert, auf der Website sind Eigentum ihrer jeweiligen Inhaber und durch geltende Gesetze gesch&uuml;tzt.</p>
  <p>Das vollst&auml;ndige oder teilweise Reproduzieren, Verbreiten, Modifizieren, Verkn&uuml;pfen oder Benutzen f&uuml;r kommerzielle oder &ouml;ffentliche Zwecke und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtsgesetzes bedarf der vorherigen schriftlichen Zustimmung von Dear Switzerland. Durch diese Website wird keine Lizenz zur Nutzung des geistigen Eigentums Dritter erteilt. Alle nicht ausdr&uuml;cklich in diesen Bedingungen gew&auml;hrten Rechte sind vorbehalten.</p>

  <ol start="6">
    <li>
      <h2><strong>Datenschutzerklärung</strong></h2>
    </li>
  </ol>
  <p>Wir sind dem Schutz Ihrer Privatsphäre verpflichtet. Alle persönlichen Daten, die wir von Ihnen erfassen, werden in Übereinstimmung mit den geltenden Gesetzen und unserer Datenschutzrichtlinie verarbeitet.</p>

  <ol start="7">
    <li>
      <h2><strong>Mitwirkender werden</strong></h2>
    </li>
  </ol>
  <p>Wenn Sie dieser Website beitragen möchten, steht es Ihnen frei, die auf unserer Website angebotenen Dienste und Funktionen zu nutzen. Für diese Dienste und Funktionen fallen keine Gebühren an.</p>

  <ol start="8">
    <li>
      <h2><strong>Rückzug als Mitwirkender</strong></h2>
    </li>
  </ol>
  <p>Wenn Sie sich zu irgendeinem Zeitpunkt nicht an diese Bedingungen und die Verhaltensrichtlinien halten, behalten wir uns das Recht vor, Ihre Postings ohne vorherige Ankündigung zu sperren oder zu entfernen.</p>
  <p>Wenn Sie sich als Mitwirkender zurückziehen und Ihren eingereichten Brief entfernen lassen möchten, senden Sie Ihre Anfrage bitte per E-Mail an <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a>.</p>

  <ol start="9">
    <li>
      <h2><strong>Änderungen</strong></h2>
    </li>
  </ol>
  <p>Wir behalten uns das Recht vor, jederzeit und ohne vorherige Ankündigung Verbesserungen oder Änderungen an diesen Bedingungen und dem Inhalt der Website vorzunehmen. Diese Seite wurde zuletzt am 15. Juni 2020 geändert.</p>

  <ol start="10">
    <li>
      <h2><strong>Unschädlichkeitsklausel, kein Verzichtsklausel</strong></h2>
    </li>
  </ol>
  <p>Sollte eine Bestimmung in diesen Bedingungen nach geltendem Recht für ungültig oder nicht durchsetzbar erklärt werden, bleiben die übrigen Bestimmungen weiterhin in vollem Umfang in Kraft und wirksam. Wenn Sie der Meinung sind, dass Sie andere oder zusätzliche Rechte als die in diesen Bedingungen genannten nach geltendem zwingendem Recht haben, sollten Sie uns unverzüglich darüber informieren, damit wir einen alternativen Rechtsbehelf für die Situation bereitstellen können.</p>
  <p>Unser Versäumnis, die strikte Einhaltung einer dieser Bestimmungen durchzusetzen, darf nicht als Verzicht ausgelegt werden.</p>

  <ol start="11">
    <li>
      <h2><strong> Anwendbares Recht und Gerichtsbarkeit</strong></h2>
    </li>
  </ol>
  <p>Diese Bedingungen werden in Übereinstimmung mit dem materiellen schweizerischen Recht geregelt und ausgelegt.</p>
  <p>Der Gerichtsstand für alle Streitigkeiten, die sich aus oder im Zusammenhang mit dieser Website ergeben, ist Zürich.</p>

  <ol start="12">
    <li>
      <h2><strong>Kontakt</strong></h2>
    </li>
  </ol>
  <p>Wenn Sie Kommentare oder Fragen zu diesen Bedingungen oder unserer Website haben, kontaktieren Sie uns bitte unter <a href="mailto:info@dearswitzerland.org">info@dearswitzerland.org</a>.</p>

</section>