<h1 class="mt-3 mb-3">
  Dear Switzerland
  <strong>Terms</strong>
</h1>

<section class="pt-1 pb-2">
  <p>These terms of use (the "<strong>Terms</strong>"), together with our privacy policy (the "<strong>Privacy</strong> <strong>Policy</strong>", apply to any use of our website <a href="http://www.dearswitzerland.org/">www.dearswitzerland.org</a>and the activities of the Dear Switzerland Association ("<strong>Dear Switzerland</strong>") as well as any data, information, tool and service available on our website (collectively the "<strong>Website</strong>".</p>
  <p>Your participation and satisfaction, and comfortable use of our Website are very important to us.</p>
  <p><strong>You may use the Website only on the condition that you understand and accept the Terms and the Privacy Policy. Any further use of the Website or any part of it means you have read and understood the Terms and the Privacy Policy, and agree to be bound by all parts of the Terms.</strong></p>
  <p>We reserve the right, at our sole discretion, to modify these Terms at any time. We recommend that you check the Terms periodically for changes. The use of the Website, once changes to these Terms have been published on the Website, constitutes acceptance of those changes, whether or not you have reviewed them.</p>

  <ol>
    <li>
      <h2><strong>Application of these Terms</strong></h2>
    </li>
  </ol>
  <p>These Terms apply to your use of the Website, which is operated by Dear Switzerland, as well as to any feature and service that is offered on this Website, including but not limited to, the letter-writing, letter-sharing and letter-reviewing features. Further provisions outside of these Terms may apply to you. Such further provisions apply in addition to these Terms.</p>

  <ol start="2">
    <li>
      <h2><strong>User conduct</strong></h2>
    </li>
  </ol>
  <p>Users may not misuse the Website and are prohibited from processing via the Website any material:</p>
  <ul>
    <li>that is threatening, defamatory, obscene, indecent, seditious, offensive, pornographic, abusive, liable to incite racial hatred, discriminatory, menacing, scandalous, inflammatory, blasphemous, in breach of confidence, in breach of privacy or which may cause annoyance or inconvenience; or</li>
    <li>for which you have not obtained all necessary licenses and/or approvals; or</li>
    <li>which constitutes or encourages conduct that would be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party, in any country in the world; or</li>
    <li>which is technically harmful (including, without limitation, computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data).</li>
  </ul>

  <ol start="3">
    <li>
      <h2><strong>Conduct Guidelines regarding the Postings</strong></h2>
    </li>
  </ol>
  <p>In particular, users are responsible for all content posted on, emailed or otherwise transmitted to this Website such as the letters submitted or uploaded (collectively the "<strong>Postings</strong>").</p>
  <p>We promote conduct guidelines (the "<strong>Conduct Guidelines</strong>") for Postings on our Website. You understand that there may be Postings that are offensive, objectionable or not in compliance with the Conduct Guidelines, if you find such a Posting please notify us at info@dearswitzerland.org.</p>
  <p>When uploading or submitting Postings you agree to comply with our Conduct Guidelines set out below.</p>
  <p>The Conduct Guidelines require users to:</p>
  <ul>
    <li>be 15 or older or alternatively obtain parental permission and submit the Postings by email with a note of permission;</li>
    <li>grant us a royalty-free, perpetual, irrevocable, non-exclusive right and license, including the right to sublicense, to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display any Postings you have made available, worldwide and/or to incorporate the Postings in other works in any form, for the full term of any copyrights, trademarks and other intellectual and property rights that may exist in such Postings, for any purpose, commercial, advertising or otherwise, without giving you any right to compensation;</li>
    <li>refrain from submitting content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable (in our sole discretion);</li>
    <li>refrain from submitting content that impersonates any person or entity, including, but not limited to, any user of this Website, a director, officer, employee, agent or representative of Dear Switzerland, or any other person or entity, or falsely state or otherwise misrepresent your affiliation with Dear Switzerland or any other person or entity;</li>
    <li>refrain from submitting content that is not your own, or that you do not have a right to upload, post, email or otherwise transmit under any applicable law or otherwise (such as insider information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>
    <li>refrain from submitting content that violates any applicable national, cantonal or international law;</li>
    <li>refrain from submitting content that stalks or otherwise harasses another user of this Website;</li>
    <li>refrain from soliciting, collecting or posting personal data or attempt to solicit, collect or post personal data about other users of the Website or about any other third party; or</li>
    <li>refrain from accessing or attempting to alter another Website user&rsquo;s submissions without his or her consent.</li>
  </ul>

  <ol start="4">
    <li>
      <h2><strong>Liability</strong></h2>
    </li>
  </ol>
  <p>The content of this Website has been created with care and diligence, but Dear Switzerland cannot guarantee comprehensiveness and/or accuracy. The Website offers information about the letter-features and its services that may be changed at any time without prior notice.</p>
  <p>All representations and warranties are excluded, including the warranty regarding suitability for a particular purpose.</p>
  <p><strong>Neither Dear Switzerland nor any of its agents, contractors or licensors shall be liable for any loss, injury or damage</strong> (including without limitation any direct, indirect, punitive or consequential loss or damage, any loss of income, profits, goodwill, data, contracts, use of money, or loss or damage arising from or connected in any way to business interruption); whether foreseeable, known or otherwise and even if advised of the possibility of such damages; and whether in tort (including without limitation negligence), contract or otherwise; including without limitation for contingencies beyond its control in procuring, compiling, interpreting, reporting or delivering data and for conclusions, decisions or actions derived, made or taken based on the use of the Website or any part thereof.</p>
  <p>Nothing herein excludes or limits the liability of Dear Switzerland (i) for fraud or gross negligence, (ii) for death or personal injury caused by Dear Switzerland, (iii) or which may not be excluded or limited under the applicable law.</p>
  <p><strong>You agree to defend, indemnify and hold harmless Dear Switzerland and its agents, contractors and licensors and the respective directors, officers, employees, agents and independent contractors from and against all damages, claims and expenses, including reasonable attorneys' fees, arising out of or in connection with your misuse of the Website, i.e. any use of the Website which violates these Terms or any applicable law or regulation.</strong></p>

  <ol start="5">
    <li>
      <h2><strong><strong>Intellectual Property Rights, Confidential Information and Trade Secrets</strong></strong></h2>
    </li>
  </ol>
  <p>You acknowledge and accept that the Website and any part thereof, in particular the uploaded letters, may be protected by copyright or other intellectual property or unfair competition or misappropriation laws and are and shall remain the property of Dear Switzerland and/or its licensors. Such content may only be used in accordance with these Terms or any other agreement between you and Dear Switzerland, as applicable, and all applicable laws and regulations. Any unauthorised use is strictly prohibited.</p>
  <p>All trade names, trademarks, service marks and other product and service names and logos, whether registered or unregistered, on the Website are proprietary to their respective owners and are protected by applicable laws.</p>
  <p>The complete or partial reproduction, distribution, modification, linking or use for commercial or public purposes and any type of exploitation outside the limits of copyright law requires the prior written consent of Dear Switzerland. This Website does not grant any license to use the intellectual property of third parties. Any rights not expressly granted in these terms are reserved.</p>

  <ol start="6">
    <li>
      <h2><strong>Privacy Policy</strong></h2>
    </li>
  </ol>
  <p>We are committed to protecting your privacy. All personal data that we collect from you will be processed in accordance with the applicable laws and our Privacy Policy.</p>

  <ol start="7">
    <li>
      <h2><strong>Becoming a contributor</strong></h2>
    </li>
  </ol>
  <p>If you wish to become a contributor, you are free to use any of the services and features offered on our Website. There are no fees for these services and features.</p>

  <ol start="8">
    <li>
      <h2><strong>Withdrawal as a contributor</strong></h2>
    </li>
  </ol>
  <p>If you do not comply with these Terms and the Conduct Guidelines at any time, we reserve the right to suspend or take down your Postings without prior notice.</p>
  <p>If you wish to withdraw as a contributor and have your submitted letter removed, please email your request to info@dearswitzerland.org.</p>

  <ol start="9">
    <li>
      <h2><strong>Modifications</strong></h2>
    </li>
  </ol>
  <p>We reserve the right to make improvements or changes to these Terms and the content of the Website at any time without prior notice. This page was last modified on 15 June 2020.</p>

  <ol start="10">
    <li>
      <h2><strong>Severability, No Waiver</strong></h2>
    </li>
  </ol>
  <p>If any provision in these Terms is held invalid or unenforceable under applicable law, the remaining provisions will continue in full force and effect. If you believe you have other or additional rights than those stated in these Terms under applicable mandatory law, you should inform us without undue delay for us to provide an alternative remedy to the situation.</p>
  <p>Our failure to enforce strict compliance with any of these Terms shall not be construed as a waiver.</p>

  <ol start="11">
    <li>
      <h2><strong>Applicable Law and Jurisdiction</strong></h2>
    </li>
  </ol>
  <p>These Terms are governed and construed in accordance with the substantive laws of Switzerland.</p>
  <p>The place of jurisdiction for any disputes arising out of or in connection with this Website is Zurich.</p>

  <ol start="12">
    <li>
      <h2><strong>Contact us</strong></h2>
    </li>
  </ol>
  <p>If you have any comments or questions about these Terms or our Website, please contact us at info@dearswitzerland.org.</p>

</section>