<div class="letter">
  <% if @letter.body.present? %>
    <%= @letter.body %>
  <% end %>
  <% if @letter.reviewed_pdf.present? %>
    <%= letter_preview(@letter, :gallery) %>
  <% end %>
</div>

