<div class="letter">
  <% if @letter.body.present? %>
    <%= @letter.body %>
  <% end %>
  <% if @letter.reviewed_pdf.present? %>
    <%= letter_preview(@letter, :gallery) %>
  <% end %>
</div>

<% if @letter.reviewed_pdf.present? %>
  <a class="button" href="<%= rails_blob_path(@letter.reviewed_pdf, disposition: "attachment") %>">
    Download full letter as PDF
  </a>
<% end %>