$color-highlight: #FF3311;
$color-background: #fef9f2;
$color-normal: #1c1a2a;

a, a:visited, a:hover {
  color: inherit;
}

body {
  background-color: $color-background;
  color: $color-normal;
}

body, p, ol, ul, td {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  line-height: 38px;
}


header nav {
  text-align: right;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  ul#locales {
    margin-left: 100px;
  }

  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    padding-right: 10px;
  }

  li.active {
    color: $color-highlight;
    font-weight: bold;
  }
  a:hover {
    color: $color-highlight;
    text-decoration: none;
  }
}

#logo {
  position: absolute;
  left: 30px;
  top: 15px;
  height: 210px;
  width: 210px;
  z-index: -1;
}

main {
  text-align: center;
  width: 960px;
  min-height: 600px;
  margin: auto;
}

h1 {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 0.7;

  strong {
    font-size: 90px;
    text-transform: none;
  }

  strong:before {
    content: '\A';
    white-space: pre;
  }
}

input[type=submit], a.button, span.button {
  background-color: #000;
  color: #FFF;
  font-size: 18px;
  padding: 18px;
  line-height: 18px;
  border: 0px;
  font-weight: bold;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  
  &:hover {
    background-color: #666666;
    text-decoration: none;
  }
}

a.button.nofunction, span.button.nofunction {
  cursor: default;
  background-color: #000;
  color: #FFF;
  font-size: 18px;
  padding: 18px;
  line-height: 18px;
  border: 0px;
  font-weight: bold;
  transition: none;

  &:hover {
    background-color: #000;
    text-decoration: none;
  }
}


a.button, span.button {
  cursor: pointer;
  display: inline-block;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;

  .btn {
    background-color: white;
    width: 100%;
    font-size: 15px;
    margin-top: 2em;
    border: 1px solid #000000;
    line-height: 1.5;
    padding: 3em;
    margin: 0;
    font-weight: bold;
    min-height: 150px;
  }
}



.upload-btn-wrapper input[type=file] {
  font-size: 120px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}


@for $i from 1 through 5 {
  #{".mt-"+$i} {
    margin-top: #{$i+"em"};
  }
  #{".mb-"+$i} {
    margin-bottom: #{$i+"em"};
  }
  #{".pt-"+$i} {
    padding-top: #{$i+"em"};
  }
  #{".pb-"+$i} {
    padding-bottom: #{$i+"em"};
  }
}

#new_controls {
  overflow: auto;
  .offline, .online {
    float: left;
    width: 50%;
  }
}

form#step2 {
  text-align: left;

  input[type=text], input[type=email], select {
    width: 100%;
    height: 40px;
    font-size: 15px;
    margin-top: 2em;
    border: 1px solid #000000;
    padding-left: 0.5em;
  }

  input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    top: 2px;
  }

  fieldset#personal, fieldset#upload, fieldset#admin {
    width: 500px;
    margin: auto;
  }

  fieldset#personal {
    label {
      display: inline;
      font-size: 15px;
      margin: 0;
    }

    p {
      font-size: 18px;
    }

  }

  fieldset#consent {
    input[type=checkbox] {
      position: relative;
      vertical-align: top;
      top: 10px;
      width: 30px;
    }

    label {
      display: inline-block;
      width: 920px;
    }

  }
}

.trix {
  position: relative;

  trix-toolbar {
    display: none;
  }

  input[type=submit] {
    position: absolute;
    bottom: 30px;
    right: 110px;
  }
}

.letter {
  text-align: left;
  font-size: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 824px;
  min-height: 1164px;
  margin: auto;
  overflow: hidden;

  .trix-content {
    padding: 12px;
  }

  h1 {
    color: $color-highlight;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 24px;
  }


}

.gallery {
  position: relative;
  nav {
    position: absolute;
    top: 500px;
  }
  nav#prev {
    right: 0px;
  }
  nav#next {
    left: 0px;
  }
  a.button {
    display: block;
    margin: 1em auto;
    width: 300px;
    text-align: center;
  }

}

.thumbnails {
  overflow: auto;
}

ul.filter_langs {
  display: flex;
  list-style-type: none;
  padding: 0;

  li {
    flex: auto;
  }
  input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
  }
}

.thumbnail {

  float: left;
  width: 240px;
  padding: 10px;
  cursor: zoom-in;

  a, a:hover {
    text-decoration: none;
    cursor: zoom-in;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
  }

  .letter {
    position: relative;
    font-size: 12px;
    text-align: left;
    width: 220px;
    height: 311px;
    min-height: 311px;
  }

  .trix-content {
    padding: 5px;
  }

  .letter:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 240px, white);
  }

  h1 {
    font-size: 14px;
  }

}

footer {
  text-align: center;
  background-color: #ffffff;
  line-height: 1.2;
  img.icon {
    width: 46px;
  }
  address, p {  
    font-size: 15px;
  }


}


