<title>Cara Svizzera - una piattaforma per scrivere una lattera al futuro della Svizzera.</title>
<meta name="Description" CONTENT="Cara Svizzera è un'iniziativa, che invita tutte le persone che hanno un legamo con la Svizzera, a scrivere una lettera sul futuro del paese.">
<meta property="og:title" content="Cara Svizzera" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dearswitzerland.org/it/" />
<meta property="og:image" content="<%= image_url('logo.png') %>" />
<meta property="og:description" content="Cara Svizzera - una piattaforma per scrivere una lattera al futuro della Svizzera." />
<meta property="og:site_name" content="Cara Svizzera" />