<title>LiäbiSchweiz - schreib einen Brief an die Zukunft der Schweiz.</title>
<meta name="Description" CONTENT="Liäbi Schweiz ist eine initiative, welche es Menschen mit einem Bezug zur Schweiz möglich macht, einen Brief an die Zukunft der Schweiz zu schreiben.">
<meta property="og:title" content="Liäbi Schweiz" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.dearswitzerland.org/de/" />
<meta property="og:image" content="<%= image_url('logo.png') %>" />
<meta property="og:description" content="Liäbi Schweiz - schreib einen Brief an die Zukunft der Schweiz." />
<meta property="og:site_name" content="Liäbi Schweiz" />