<title>Dear Switzerland - a venue to write a letter to Switzerland's future.</title>
<meta name="Description" CONTENT="Dear Switzerland is a letter-writing initiative, inviting people with a Swiss connection to write to the country’s future.">
<meta property="og:title" content="Dear Switzerland" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dearswitzerland.org" />
<meta property="og:image" content="<%= image_url('logo.png') %>" />
<meta property="og:description" content="Dear Switzerland - a venue to write a letter to Switzerland's future." />
<meta property="og:site_name" content="Dear Switzerland" />