<title>Chère suisse - une plateforme pour rédiger une lettre à la Suisse future.</title>
<meta name="Description" CONTENT="Chère Suisse est une initiative, qui invite les personnes ayant un lien avec la Suisse à écrire un lettre sur l'avenir du pays.">
<meta property="og:title" content="Chère Suisse " />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dearswitzerland.org/fr/" />
<meta property="og:image" content="<%= image_url('logo.png') %>" />
<meta property="og:description" content="Chère Suisse - une plateforme pour rédiger une lettre à la Suisse future." />
<meta property="og:site_name" content="Chère Suisse" />